.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner-card {
  width: 100vw;
  height: 10vh;
  color: white;


  /* position: relative; */
}

.banner-card-title {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  top: 50vh
    /* position: relative; */
}

.banner-card-body {
  width: 100vw;
  height: 30%;
  top: 80rem;
  margin-bottom: 0;
}

.banner-card-image {
  width: 100vw;
  overflow: hidden;
  height: 70vh;
}

.banner-card-text {
  top: 55vh;
  position: absolute;

  color: rgb(250, 250, 250);
  overflow: hidden;
  height: 60%;
}

.movie-card {
  width: 30%;
  margin: 1em;
}

.movies-continer {
  top: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.movie-card-title {
  top: 10%;
  left: 10%;
  right: 10%;
  position: absolute;

  color: rgb(250, 250, 250);
  overflow: hidden;
  height: 30%;
}

.movie-card-button {
  position: absolute;
  height: 20%;
  top: 90%;
  left: 10%;
  right: 10%;
}

@media screen and (max-width:400px) {
  .banner-card-image {
    height: 100%;
  }

  .banner-card-body {
    height: 30vh;
  }

  .banner-card-title {
    top: 14vh;
    left: 5vw;

  }

  .banner-card-text {
    top: 20vh;
    left: 5vw;
    height: 35%;
  }

  .movie-card {
    width: 20%;
    margin: 1%;

  }
  .movie-card-button{
    width: 10%;
    height: 10%;
  
  }
}